body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    text-shadow: none;
}
.text-highlight{
    color: rgb(119, 243, 236);
}
.first-section {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.first-section img {
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
section{
    height: 500px;
    padding-bottom: 150px;
}
.big-dream {
    background-image: url(/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}